.add_modal {
  display: none;
  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background: rgba(201, 201, 201, 0.2);
  backdrop-filter: blur(20px);
  cursor: pointer;
  z-index: 999;
}

.add_modal_form {
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  z-index: 1000;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  min-height: 200px;
  background-color: #fff;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 5px 62px 40px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 62px 40px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 62px 40px rgba(34, 60, 80, 0.2);
}

.add_modal_title {
  text-align: center;
}

.input-groups {
  margin-bottom: 15px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-box input, select {
  outline: none;
  width: 100%;
  padding: 6px 10px;
  border-radius: 4px;
  border: 2px solid black;
  font-size: 18px;
}

.input-box input:focus, select:focus {
  border: 2px solid cornflowerblue;
}

.add_modal_submit_btn {
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: cornflowerblue;
  font-size: 18px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
