@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}

:root {
  --app-bg: #101827;
  --sidebar: rgba(21, 30, 47,1);
  --sidebar-main-color: #fff;
  --table-border: #1a2131;
  --table-header: #1a2131;
  --app-content-main-color: #fff;
  --sidebar-link: #fff;
  --sidebar-active-link: #1d283c;
  --sidebar-hover-link: #1a2539;
  --action-color: #2869ff;
  --action-color-hover: #6291fd;
  --app-content-secondary-color: #1d283c;
  --filter-reset: #2c394f;
  --filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.light:root {
  --app-bg: #fff;
  --sidebar: #f3f6fd;
  --app-content-secondary-color: #f3f6fd;
  --app-content-main-color: #1f1c2e;
  --sidebar-link: #1f1c2e;
  --sidebar-hover-link: rgba(195, 207, 244, 0.5);
  --sidebar-active-link: rgba(195, 207, 244, 1);
  --sidebar-main-color: #1f1c2e;
  --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background-color: var(--app-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.edit-price-section {
  display: flex;
  align-items: center;
  justify-content: center;
}



.edit-price-section>div {
  width: 235px;
  height: 215px;
  border-radius: 9px;
  padding: 7px;
  margin: 15px;
  background-color: white;
}


.edit-conf-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-conf-section>div {
  width: 235px;
  height: 215px;
  border-radius: 9px;
  padding: 7px;
  margin: 15px;
  background-color: white;
}

.edit-conf-section button {
  cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid ;
  border-radius: 3px;
  overflow: hidden;
  color:rgb(32, 31, 31);
  background-color: white;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;

  
}



table td, th {
  border: 1px solid #525353;
  text-align: left;
  padding: 8px;
}

tr {
  transition: 0.3s ease;
}

tr:nth-child(even) {
  background-color: #d1e8f381;
}

tr:hover {
  background-color: #93d1eeb0;
}

.titleBook {
  font-weight: 500;
  max-width: 255px;
}

.delbtn {
  background-color: rgba(236, 33, 33, 0.918);
  border: none;
  color: white;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.editbtn {
  background-color: rgba(68, 68, 236, 0.952);
  color: white;
  border: none;
  padding: 3px 7px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
}


.shelf {
  padding: 25px 75px ;
}